# Price changes of luxury goods

## 1. Rolex price trend

In [2]:
# Module import
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [4]:
# Data import
# !ls ./EDA_file
rolex = pd.read_csv("./EDA_file/rolex.csv")
rolex

      Sun Jan 01 2017  USD  14182
0     Mon Jan 02 2017  USD  14216
1     Tue Jan 03 2017  USD  14219
2     Wed Jan 04 2017  USD  14217
3     Thu Jan 05 2017  USD  14217
4     Fri Jan 06 2017  USD  14226
...               ...  ...    ...
2108  Tue Oct 11 2022  USD  29449
2109  Wed Oct 12 2022  USD  29429
2110  Thu Oct 13 2022  USD  29397
2111  Fri Oct 14 2022  USD  29373
2112  Sat Oct 15 2022  USD  29361

[2113 rows x 3 columns]